@charset "UTF-8";
html {
  width: 100%; }

a:hover, a:focus {
  text-decoration: none; }

input::-webkit-input-placeholder {
  color: #F6F8F9;
  opacity: .4; }

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #F6F8F9;
  opacity: .4; }

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #F6F8F9;
  opacity: .4; }

input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F6F8F9;
  opacity: .4; }

@keyframes ballMove {
  0% {
    top: 80px; }
  50% {
    top: 40px; }
  100% {
    top: 80px; } }

@-webkit-keyframes ballMove {
  0% {
    top: 80px; }
  50% {
    top: 40px; }
  100% {
    top: 80px; } }

/***************************** PC *********************************/
/** Header **/
header.navbar {
  background: #fff;
  height: 70px;
  box-shadow: 0 3px 6px #2699FB;
  border: none;
  margin-bottom: 0; }
  header.navbar .container {
    margin-top: 5px; }
  header.navbar .logo-holder .logo {
    float: left; }
  header.navbar .logo-holder img {
    position: relative;
    top: -5px;
    float: left; }
  header.navbar .logo-holder .logo-title {
    float: left;
    position: relative;
    top: 16px; }
    header.navbar .logo-holder .logo-title h2 {
      font-size: 18px;
      color: #08182B;
      font-weight: bold; }
    header.navbar .logo-holder .logo-title p {
      font-size: 12px;
      color: #08182B; }
  header.navbar .navbar-toggle {
    border-color: #fff; }
    header.navbar .navbar-toggle:hover, header.navbar .navbar-toggle:focus {
      background-color: #f9f9f9;
      border-color: #f9f9f9; }
  header.navbar .navbar-toggle .icon-bar {
    background-color: #563d7c; }
  header.navbar .navbar-nav a {
    font-size: 14px;
    color: #08182B; }
  header.navbar .navbar-nav {
    margin-top: 5px; }
  header.navbar .navbar-left {
    margin-left: 40px; }
    header.navbar .navbar-left a {
      padding: 0;
      width: 120px;
      height: 50px;
      text-align: center;
      line-height: 50px; }
      header.navbar .navbar-left a:hover, header.navbar .navbar-left a:focus {
        background: #fff;
        color: #2699FB; }
    header.navbar .navbar-left .sub {
      background: #fff;
      position: absolute;
      left: -22px;
      display: none; }
      header.navbar .navbar-left .sub a {
        display: block;
        width: 165px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin: 6px 0; }
        header.navbar .navbar-left .sub a:hover {
          background: #F6F8F9;
          color: #2699FB; }
    header.navbar .navbar-left > li:hover .sub {
      display: block; }
  header.navbar .navbar-right a {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 0;
    display: block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center; }
  header.navbar .navbar-right .login {
    border: 1px solid #2699FB; }
  header.navbar .navbar-right .register {
    background: #2699FB;
    color: #F4F4F4;
    margin-left: 10px; }

/** Banner **/
.banner {
  background: linear-gradient(90deg, #071943, #1D2784, #01050D);
  color: #F4F4F4; }
  .banner h1 {
    margin-top: 112px;
    font-size: 50px;
    font-weight: 500; }
  .banner p {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 22px; }
  .banner a {
    display: block;
    color: #F4F4F4;
    width: 160px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #F4F4F4;
    transition: all .4s ease-in; }
    .banner a:hover {
      background: #1D2784; }
  .banner img {
    margin-top: 100px;
    margin-bottom: 50px; }
  .banner .banner-ball {
    margin: 0;
    position: absolute;
    top: 80px;
    animation: ballMove 5s infinite;
    -webkit-animation: ballMove 6s infinite;
    /* Safari 和 Chrome */ }

/** content **/
.main-content {
  text-align: center;
  padding-top: 60px; }
  .main-content div {
    padding: 0 40px; }
  .main-content h3 {
    font-size: 24px;
    color: #08182B;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px; }
  .main-content p {
    font-size: 18px;
    color: #6D737A; }

/** article **/
.article {
  padding-top: 100px;
  padding-bottom: 13px; }
  .article .left h2 {
    font-size: 38px;
    color: #08182B;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 40px; }
    .article .left h2 span {
      color: #2699FB; }
  .article .left p {
    font-size: 20px;
    color: #6D737A;
    margin-bottom: 30px;
    padding-left: 5px; }

/** display **/
.display {
  background: #373D41; }
  .display .item {
    padding: 0 3px;
    text-align: center;
    cursor: pointer; }
    .display .item:hover .mask .bg {
      background: #2699FB; }
    .display .item:hover .content img {
      margin-top: -20px; }
    .display .item:hover .content .line-panel {
      opacity: 0; }
    .display .item:hover .content h3 {
      margin-top: 0; }
    .display .item:hover .content .desc {
      opacity: 1;
      margin-top: 20px; }
  .display .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .display .mask .bg {
      margin: 0 3px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #000;
      opacity: .7;
      transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
    .display .mask .content {
      position: absolute;
      left: 0;
      right: 0;
      top: 60px; }
      .display .mask .content img {
        width: 20%;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
      .display .mask .content .line-panel {
        padding: 0;
        margin: 0;
        font-size: 0;
        line-height: 0;
        margin-top: 20px;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
        .display .mask .content .line-panel .item-line {
          width: 80px;
          height: 4px;
          background: #2699FB;
          display: inline-block;
          opacity: 1;
          transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
      .display .mask .content h3 {
        font-size: 28px;
        color: #F4F4F4;
        font-weight: bold;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        margin-top: 20px; }
      .display .mask .content .desc {
        opacity: 0;
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 14px;
        color: #F4F4F4;
        text-align: center;
        margin-top: 40px;
        padding: 0 50px;
        line-height: 24px;
        height: 72px; }

/** case **/
.case .title {
  text-align: center;
  font-size: 38px;
  color: #08182B;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 30px; }

.case .line-through {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .case .line-through i {
    display: inline-block;
    height: 1px;
    width: 40%;
    background: #ddd; }
  .case .line-through span {
    display: inline-block;
    width: 33px;
    height: 33px;
    cursor: pointer; }
  .case .line-through .left-btn {
    background: url("../images/home/left.png") no-repeat; }
  .case .line-through .right-btn {
    background: url("../images/home/right.png") no-repeat; }

.case .pic-container {
  position: relative;
  overflow: hidden;
  height: 254px;
  margin-top: 60px; }
  .case .pic-container ul {
    width: 3000px;
    position: absolute;
    left: 0;
    top: 0; }
    .case .pic-container ul li {
      float: left;
      margin-bottom: 20px;
      cursor: pointer; }

/** contact **/
.contact {
  background: url("../images/home/grid-bg.png");
  overflow: hidden; }
  .contact h3 {
    font-size: 30px;
    color: #F4F4F4;
    text-align: center;
    line-height: 46px;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 50px; }
  .contact .input-item {
    padding-right: 30px; }
    .contact .input-item p {
      font-size: 16px;
      color: #F4F4F4;
      padding-bottom: 5px; }
    .contact .input-item input, .contact .input-item select {
      width: 100%;
      background: transparent;
      border: 1px solid #EBEDED;
      border-radius: 4px;
      height: 40px;
      padding-left: 10px;
      font-size: 16px;
      color: #F6F8F9; }
  .contact .submit {
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    color: #2699FB;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 30px auto;
    cursor: pointer;
    transition: all .2s ease-in; }
    .contact .submit:hover {
      opacity: .8; }

/** footer **/
footer.qy-footer {
  background: #08182B; }
  footer.qy-footer .container {
    padding: 60px 0 30px;
    color: #F4F4F4;
    font-size: 16px;
    line-height: 30px; }
    footer.qy-footer .container a {
      color: #F4F4F4; }
    footer.qy-footer .container .clearfix li {
      padding-left: 0;
      padding-bottom: 10px; }
  footer.qy-footer .copyright {
    color: #F4F4F4;
    font-size: 16px;
    line-height: 80px;
    text-align: center; }

/******************************* Phone ************************************/
@media (max-width: 768px) {
  header.navbar {
    background: #fff;
    height: 70px;
    box-shadow: 0 3px 6px #2699FB;
    border: none;
    margin-bottom: 0; }
    header.navbar .container {
      margin-top: 5px; }
    header.navbar .logo-holder img {
      position: relative;
      top: -5px; }
    header.navbar .logo-holder span {
      position: relative;
      top: 5px;
      font-size: 14px;
      color: #08182B;
      font-weight: bold; }
    header.navbar .navbar-toggle {
      border-color: #fff; }
      header.navbar .navbar-toggle:hover, header.navbar .navbar-toggle:focus {
        background-color: #f9f9f9;
        border-color: #f9f9f9; }
    header.navbar .navbar-toggle .icon-bar {
      background-color: #563d7c; }
    header.navbar .navbar-nav a {
      font-size: 14px;
      color: #08182B; }
    header.navbar .navbar-nav {
      margin-top: 0px; }
    header.navbar .navbar-left {
      margin-left: -15px;
      margin-bottom: 0;
      background: #fff; }
      header.navbar .navbar-left a {
        padding: 10px 15px;
        width: 100%;
        height: 40px;
        line-height: 20px;
        text-align: left;
        margin: 6px 0; }
        header.navbar .navbar-left a:hover {
          background: #F6F8F9;
          color: #2699FB; }
      header.navbar .navbar-left .sub {
        background: #fff;
        position: relative;
        left: 0;
        display: block; }
        header.navbar .navbar-left .sub a {
          padding: 10px 15px;
          width: 100%;
          height: 40px;
          line-height: 20px;
          text-align: left;
          margin: 6px 0; }
          header.navbar .navbar-left .sub a:hover {
            background: #F6F8F9;
            color: #2699FB; }
      header.navbar .navbar-left > li:hover .sub {
        display: block; }
    header.navbar .navbar-right {
      background: #fff; }
      header.navbar .navbar-right a {
        padding: 10px 15px;
        width: 100%;
        height: 40px;
        line-height: 20px;
        text-align: left;
        margin: 6px 0; }
        header.navbar .navbar-right a:hover {
          background: #F6F8F9;
          color: #2699FB; }
      header.navbar .navbar-right .login {
        border: 0; }
      header.navbar .navbar-right .register {
        background: #fff;
        color: #08182B;
        margin-left: 0px; } }
